# .gitignore

# Variables de Entorno (¡CRÍTICO!)
.env
Backend/.env
node_modules/

# Binarios de Go
/libreria-backend
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db